# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Environments
.env
.env.local
.env.*

# IDEs
.idea/
.vscode/

# Project specific
*.db
mini_rag_db/
my_chroma_db/
my-chroma-db/
lesson23/mini_rag_db/
lesson23/my_chroma_db/
lesson23/my-chroma-db/
